* 
{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica neue;
	text-align: center;
	background-color: #E0E0E0;
}

.titulo
{
	font-size: 50px;
}

.espacamentoTopLeft
{
	margin-top: 20px;
	margin-left: 20px;
}

.espacamento 
{
	padding: 20px;
}

.center
{
	text-align: center;
}

.espacamentoRight 
{
	padding-right: 20px;
}

.button {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}

.input {
  	border: 2px solid royalblue;
  	border-radius: 4px;
  	font-size: 20px;
  	margin-right: 20px;
}

.fonteCinza 
{
	color: #008000;
}

.caixa
{
	margin: auto;
	margin-right: 275px;
	margin-top: 50px;
  	width: 50%;
  	border: 3px;
}

.fonteGrande
{
	font-size: 25px;
}